
.gem
.rbc
.rspec
.bundle
.config
.settings
.yardoc
_yardoc

Gemfile.lock

tmp/x64-mingw32/*
lib/calc_sun/calc_sun.so
coverage
doc
lib/bundler/man
pkg
rdoc
ri
spec/reports
test/tmp
test/version_tmp


